<section class="articles">
  <h2 class="articles__header">
    Volverse organizado se siente mejor con OPEN SPACES
  </h2>
  <article class="neededs need_1">
    <img
      title="table image"
      class="neededs__image"
      src="./assets/images/icon_1.png"
      alt="Imagen de una mesa"
    />
    <h3 class="neededs__title">Lo que necesitas</h3>
    <p class="neededs__text">
      Una linea de productos diseñados para todos tus espacios
    </p>
  </article>
  <article class="neededs need_2">
    <img
      title="bag image"
      class="neededs__image"
      src="./assets/images/Biodegradable bag.png"
      alt="Imagen de una bolsa biodegradable"
    />
    <h3 class="neededs__title">Materias primas sustentables</h3>
    <p class="neededs__text">
      Todos los productos con materias primas sustentables
    </p>
  </article>
  <article class="neededs need_3">
    <img
      title="sign image"
      class="neededs__image"
      src="./assets/images/Park.png"
      alt="Imagen de un cartel"
    />
    <h3 class="neededs__title">Guía</h3>
    <p class="neededs__text">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </article>
</section>
