<section class="enjoy-bath">
  <section class="enjoy">
    <div class="enjoy__container">
      <h2 class="enjoy__container--title">Disfruta creando espacios</h2>
      <p class="enjoy__container--text">
        Una línea de productos diseñados para todos tus espacios
      </p>
      <a
        class="enjoy__container--button buy_button"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Comprar Ahora</a
      >
    </div>
  </section>
  <section class="bath"></section>
</section>
