<section class="footer">
  <nav class="nav">
    <h3 class="nav__title">Tienda</h3>
    <ul class="nav__list">
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Productos</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Cajoneras</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Para toda la casa</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Habitaciones</a
      >
    </ul>
  </nav>
  <nav class="nav">
    <h3 class="nav__title">Nosotros</h3>
    <ul class="nav__list">
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Nuestra Guía</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Nuestro diseño</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Nuestra historia</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Ayuda</a
      >
    </ul>
  </nav>
  <nav class="nav">
    <h3 class="nav__title">Contacto</h3>
    <ul class="nav__list">
      <a class="nav__list--items" href="mailto:ayuda@openspaces.com"
        >ayuda@openspaces.com</a
      >
      <a
        class="nav__list--items"
        href="https://adalab.es/"
        target="_blank"
        rel="noopener noreferrer"
        >Socios</a
      >
      <div class="logos">
        <a
          class="logos__item"
          href="https://adalab.es/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a
          class="logos__item"
          href="https://adalab.es/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          class="logos__item"
          href="https://adalab.es/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
    </ul>
    <a class="header_point" href="./index.html#go_header"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>
  </nav>
</section>
