<section class="footer">
  <nav class="nav">
    <h3 class="nav__title">Tienda</h3>
    <ul class="nav__list">
      <li class="nav__list--item">Productos</li>
      <li class="nav__list--item">Cajoneras</li>
      <li class="nav__list--item">Para toda la casa</li>
      <li class="nav__list--item">Habitaciones</li>
    </ul>
  </nav>
  <nav class="nav">
    <h3 class="nav__title">Nosotros</h3>
    <ul class="nav__list">
      <li class="nav__list--item">Nuestra Guía</li>
      <li class="nav__list--item">Nuestro diseño</li>
      <li class="nav__list--item">Nuestra historia</li>
      <li class="nav__list--item">Ayuda</li>
    </ul>
  </nav>
  <nav class="nav">
    <h3 class="nav__title">Contacto</h3>
    <ul class="nav__list">
      <li class="nav__list--item">ayuda@openspaces.com</li>
      <li class="nav__list--item">Socios</li>
      <div class="logos">
        <li class="logos__item"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="logos__item"><i class="fa-brands fa-instagram"></i></li>
        <li class="logos__item"><i class="fa-brands fa-twitter"></i></li>
      </div>
    </ul>
  </nav>
</section>
