<section>
  <nav>
    <h3>Tienda</h3>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </nav>
  <nav>
    <h3>Nosotros</h3>
    <ul>
      <li>Nuestra Guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra historia</li>
      <li>Ayuda</li>
    </ul>
  </nav>
  <nav>
    <h3>Contacto</h3>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
      <li>Linkedin</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>
  </nav>
</section>
