<header class="header" id="go_header">
  <div class="header__up">
    <a
      href="https://adalab.es/"
      target="_blank"
      rel="noopener noreferrer"
      class="header__up--menu"
      ><i class="fa-solid fa-bars"></i>
    </a>
    <div class="header__up__nav">
      <a href="#" class="header__up__nav--link">Productos</a>
      <a href="#" class="header__up__nav--link">Colecciones</a>
      <a href="#" class="header__up__nav--link">Inicio</a>
      <a href="#" class="header__up__nav--link">Tienda</a>
    </div>
    <img
      src="./assets/images/logo.png"
      class="header__up--logo"
      alt="Imagen del logo"
    />
  </div>
  <div class="header__container">
    <h1 class="header__container--title">Disfruta creando espacios</h1>
    <a
      href="https://adalab.es/"
      target="_blank"
      class="header__container--button buy_button"
    >
      Comprar Ahora
    </a>
  </div>
</header>
