.articles {
  background-color: $color-secondary;
  font-family: $font-title1;
  color: $color-primary;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-content: center;
  &__header {
    width: 100%;
    padding: 20px 50px;
  }
}

.neededs {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: $font-title1;
  &__image {
    width: 90px;
    height: 99px;
    margin: 37px auto 47px auto;
  }
  &__title {
    font-size: 20px;
    height: 23px;
  }
  &__text {
    font-size: 16px;
    height: 96px;
    width: 208px;
  }
}
