.articles {
  background-color: $color-secondary;
  font-family: $font-title1;
  color: $color-primary;
  height: 1108px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  &__header {
    width: 100%;
    height: 113px;
    padding: 0 50px 20px 50px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.neededs {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: $font-title1;
  &__image {
    margin: 37px 90px 47px 90px;
  }
  &__title {
    justify-content: center;
  }
  &__text {
    align-items: center;
    justify-items: center;
  }
}
