.buy_button {
  width: 176px;
  height: 48px;
  background-color: $color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $color-text-section;
  border: none;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: $color-button-hover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 18px;
    color: $color-tertiary;
  }
}
