.footer {
  background-color: $color-primary;
  color: $color-text-footer;
  width: 100%;
  padding: 56px 28px 16px 93px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 74px;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    &--items {
      color: $color-text-footer;
      text-decoration: none;
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 8px;
  &__item {
    color: $color-text-section;
    text-decoration: none;
    padding: 15px 3px 5px;
  }
}

.header_arrow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  &--icon {
    color: $color-text-section;
    transition: transform 0.5s;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
      transform-origin: center;
    }
  }
}
