.footer {
  background-color: $color-primary;
  color: $color-text-section;
  width: 100%;
  padding: 56px 28px 16px 110px;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  &__title {
    font-family: $font-title1;
  }
  &__list {
    font-family: $font-subtitle;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    &--items {
      color: $color-text-section;
      text-decoration: none;
    }
  }
}
.logos {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 8px;
  &__item {
    color: $color-text-section;
    text-decoration: none;
  }
}

.header_point {
  color: $color-text-section;
}
