.footer {
  background-color: $color-primary;
  color: $color-text-section;
  width: 100%;
  height: 545px;
  // margin: 304px 1px 0 0;
  // padding: 56px 28px 16px 146px;
}
//font-family al titulo y otro al texto//
